.purchase-modal-prompt-roqol .modal-content {
    border-radius: 10px!important;
    padding: 5px;
    opacity: 0;
    transition: opacity 0.3s;
    animation-name: slidein;
    animation-duration: 0.3s;
}

@keyframes slidein {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }